.message_list th.actions {
    width: auto!important;
}

#messages_pane {
    top: 4%;
}

.message_actions {
    width: 100%;
}

.message_main_actions {
    width: 60%;
}

.message_detail_actions {
    width: 40%;
}
