/blib
/Makefile
/Makefile.old
/cover_db
/inc
/pm_to_blib
/runtests
/root/var/user_settings.sql
/root/templates/cs
/root/templates/da
/root/templates/de
/root/templates/en
/root/templates/ru
/root/locale/cs/LC_MESSAGES/CiderWebmail.mo
/root/locale/da/LC_MESSAGES/CiderWebmail.mo
/root/locale/de/LC_MESSAGES/CiderWebmail.mo
/root/locale/en/LC_MESSAGES/CiderWebmail.mo
/root/locale/ru/LC_MESSAGES/CiderWebmail.mo
