body {
    color: black;
}

div#top {
    top: 0px;
    left: 0px;
}

div#left {
    position: absolute;
    left: 0;
    top: 0;
    width: 12em;
}

div#left li.selected {
    font-weight: bold;
}

div#page {
    margin-left: 13em;
    /*position: absolute;
    left: 210px;
    top: 45px;
    width: auto;*/
}

a {
    color: #202020;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    border: 1px solid lightgrey;
    padding: 0.1em 0.4em;
}

label {
    display: block;
    clear: left;
}
label span {
    float: left;
    width: 7em;
}

textarea {
	width: 50em;
	height: 30em;
}
