body {
    color: white;
    background-color: black;
}

div#top {
    top: 0px;
    left: 0px;
}

div#left {
    position: absolute;
    float: left;
    width: 200px;
    top: 45px;
}

div#page {
    position: absolute;
    left: 210px;
    top: 45px;
    width: auto;
}

a {
    color: lightgray;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid lightgrey;
}

td {
    text-align: left;
    border: 1px solid lightgrey;
}


