html, body {
    overflow-y: hidden;
}

.message_list {
    width: 100%;
}

.message_list tbody tr td {
    border-style: solid;
    border-color: lightgrey;
    border-width: 0px 0px 1px 0px;
    font-size: 0.8em;
}

.message_list tr th {
    border-style: solid;
    border-color: lightgrey;
    border-width: 0px 0px 2px 0px;
}


.message_list tr {
    font-weight: bold;
}

.message_list tr.seen {
    font-weight: normal;
}

.message_list tr.recent {
    font-weight: bold;
}

.message_list tr.answered * {
    color: blue;
}

.message_list tr.forwarded * {
    color: green;
}

.message_list tr.deleted * {
    color: red;
    text-decoration: line-through;
}

ul#folder_tree a.hover {
    color: white;
    background-color: green;
}

.message_list img {
    position: relative;
}

.message_list td.sender {
    white-space: nowrap;
}

.attachment {
    border: 1px lightgrey solid;
    margin: 0.5em;
    padding: 0.5em;
    float: left;
}

.attachment p {
    text-align: center;
    font-size: 0.8em;
}


#messages_pane {
    position: absolute;
    top: 2.5em;
    bottom: 30%;
    left: 0;
    width: 100%;
    overflow: auto;
    margin-bottom: 2px;
    border-bottom: 2px solid gray;
}

#content.message_display #messages_pane {
    bottom: 70%;
}

#messages_pane tr.selected {
    background-color: lightblue;
}

#message_view {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

#message_view .move_message {
    display: none;
}

.dragger {
    position: absolute;

    margin: 0;
    padding: 0;
    list-style: none;

    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.dragger li {
    margin: 0;
    padding: 0;
}

#folder_headline {
    margin: 0;
    padding: 0;
    float: left;
}

h1 {
    font-size: 140%;
}

#quicksearch {
    float: right;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

@media print {
    #content.message_display #folder_headline, #content.message_display #messages_pane, #help_message {
        display: none;
    }
    #messages_pane {
        border: none;
    }
}
