#message_view h1 {
    margin: 0;
    padding: 0.1em 0.5em;
    border-bottom: 1px solid black;
    background-color: #418bd4;
    color: white;
    font-size: 100%;
}

.message_actions {
    margin: 0.1em 0;
    padding: 0.1em 0.5em;
    border-bottom: 1px solid black;
    overflow: auto;
}

.message_actions a {
    text-decoration: none;
    border: 1px solid transparent;
}

.message_actions img {
    vertical-align: bottom;
}

.message_actions a:hover {
    border-color: #418bd4;
}

.message_main_actions {
    float: left;
}

.message_view_head {
    margin: 0.5em 0em 0em 0em;
    border: 1px solid black;
    background-color: #efefef;
}

.message_header {
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

.message_header table {
    margin: 0;
}

.message_detail_actions {
    font-size: 75%;
    float: right;
    color: gray;
}

.message_header tr th {
    font-weight: bold;
}

.message_header tr td {
}

.body_part, pre.all_headers {
    clear: both;
}

.message_body {
    border-color: black;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

.renderable {
    margin: 0px;
    padding: 3px;
}

.forwarded {
    margin: 0px;
    padding: 1px;
    overflow: auto;
}

.attachment {
    border: 1px grey solid;
    float: left;
    padding: 4px;
    margin: 4px;
    text-align: center;
}

.attachment a {
    text-decoration: none;
}

.attachment a span {
    margin: 0px;
    padding: 0px;
    font-size: 75%;
}

div.calendar table {
    border: 1px black solid;
    border-collapse: collapse;
}

div.calendar table th {
    font-weight: bold;
}

div.calendar table tr {
    border: 1px black solid;
}

div.calendar .heading {
    background-color: #418bd4;
    color: white;
}

.monospace {
    font-family: monospace;
}
